<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Help</title>
</head>
<body>
<h1>Individual Student</h1>
      	<table id = "studentList" class="table table-striped" style="border: 2px solid black; width: 75%" >
      <thead>
        <tr>
          <th>Student List</th>
        </tr>
        <tr style="font-weight: bold"><td ><span th:text="${fullName}"></span></td><td><span th:text="${sat}"></span></td><td><span th:text="${gpa}"></span></td></tr>
      </thead>
      <tbody>
      </tbody>
    </table>
</body>
</html>